.navegadorder {
	text-align: right;

}

.navegadoriz {
	float: left;
}

.logo {
	float: left;
}

.iconmenu {
	float: right;
}

#menudesplegable{
	cursor: pointer;
}

.menu{
	height: 30px;
	padding: 20px;
	background-color: #333;
	padding-right: 10%;
	padding-left: 10%;
}

.menu2{
	display: none;
	height: 30px;
	padding: 20px;
	background-color: #333;
	padding-right: 10%;
	padding-left: 10%;
}

.desplegable {
	display: none;
	text-align: center;
	position: absolute;
	background-color: #333;
	color: #fff;
	width: 103%;
}

.activao {
	color: #FA2A00;
}

.margingeneral {
	margin: 40px;
	text-align: justify;
}

.portada {
	background-image: url(../img/TOTS.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 750px;
	background-color: #666;

}

.flechaportada {
	position: absolute;
	background-image: url(../img/flechablanca.png) ;
	background-repeat: no-repeat;
	margin-left: 50%;
	margin-top: 660px;
	transform: translate(-50%,-50%);
	height: 64px;
	width: 64px;
	cursor: pointer;
}



.pointer {
	margin: 20px;
	cursor: pointer;
	border-radius: 100%;
}



.footer {

	padding-top: 20px;
	height: 373px;
	background-color: #333;
}

.links {
	margin: 0;
	color: #FFF;
	text-align: center;
	float: left;
	width: 40%;
	margin-top: 100px;
	height: auto;
}

.footerlogo {
	margin: 0;
	color: #FFF;
	text-align: center;
	float: left;
	width: 20%;
	height: auto;
}
.historia1 {
	padding: 100px;
}

.social {
	margin: 0;
	color: #FFF;
	text-align: center;
	float: left;
	width: 40%;
	padding-top: 120px;
	height: auto;
}

.iconos {
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.copyright {
	padding-top: 60px;
	margin-top: -13px;
	height: 250px;
	color: #fff;
	text-align: center;
	width: 100%;
	height: auto;
	float: left;
}

.logofooter {
	margin-top: 60px;
}

.imggrupo {
	float: left;
}

.es {
	font-size: 20px;
}
.cat {
	font-size: 20px;
}
.cuerpo2 {
	background-image: url(../img/fondoblanco2.png);
}

.cuerpo1 {
	background: #333;
}
.contenedor {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: justify;
	width: 70%;
	margin-left: 15%;
}

.contenedor2 {
	color: #777;
	padding-top: 50px;
	margin-bottom: 50px;
	text-align: justify;
	width: 50%;
	margin-left: 25%;
}

.eso {
	position: absolute;
	margin-left: 50%;
	margin-top: 250px;
	transform: translate(-50%,0%);

}
video {
	margin-left: 50%;
	transform: translate(-50%,-0%);
	margin-bottom: 50px;

}

span {
	color: #FA2A00;
}

a {
	text-decoration: none;
	color: #fff;
	margin: 20px;
	font-size: 30px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: -9px;
	overflow-x:hidden;
	background-color: #FFF;

}


@media only screen and (max-width: 1100px) {

.flechanegra {
	display: none;
}

.subirnegro {
	display: none;
}

.subirblanco {
	display: none;
}

.flechablanca {
	display: none;
}

.video {
	margin-top: -100px;
	width: 100%;
	height: 100%;
}



.contenedorblanco1 {
	height: auto;
	padding-top: 100px;
	padding-bottom: 130px;
	text-align: center;
}

.contenedorblanco {
	height: 1400px;
	color: #333;
	background-color: #FCEDFF;
	text-align: center;
}

.contenedornegro {
	color: #FFF;
	height: 1400px;
	text-align: center;
}


.descripcion {
	height: 520px;
	text-align: center;
	padding-left: 0;
	padding-bottom: 60px;
}

.grupo {
	margin-top: 50px;
	width: 100%;
	text-align: center;

}

.links {
	margin: 0;
	color: #FFF;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 100px;
	height: auto;
}

.footerlogo {
	margin: 0;
	color: #FFF;
	text-align: center;
	float: left;
	width: 100%;
	height: auto;
}

.social {
	margin: 0;
	color: #FFF;
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 10px;
	height: auto;
}
.footer {

	padding-top: 20px;
	height: 750px;
	background-color: #333;
}

.menu2 {
	display: block;
	height: 30px;
	padding: 20px;
	background-color: #333;
	padding-right: 10%;
	padding-left: 10%;
}

.menu {
	display: none;
	height: 30px;
	padding: 20px;
	background-color: #333;
	padding-right: 10%;
	padding-left: 10%;
}

.desplegable {
	display: none;
	text-align: center;
	position: absolute;
	background-color: #333;
	color: #fff;
	width: 103%;
}

.flechaportada {
	display: none;

}

.flechanegra1 {
	display: none;
}

.es {
	font-size: 20px;
}
.cat {
	font-size: 20px;
}
}
