body {
    background-color: #000 !important;
}

.menu{
	height: 80px;
}

.menu a {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.actiu {
	color: #FA2A00;
}

.photo-eso {
	transform: translate(35%,20%);
}

.portada-tots {
	background-image: url(../img/TOTS.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.portada {
  height: 90vh;
}

.portada-3a {
	background-image: url(../img/3rA.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.portada-3b {
	background-image: url(../img/3rB.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.portada-3c {
	background-image: url(../img/3rC.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.portada-3d {
	background-image: url(../img/3rD.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

p {
    color: #fff;
    margin-top: 1rem;
}

.grey {
    background-color: #333;
}

.row:not(:first-child) {
    padding: 1rem;
}

.row.bg-black {
    background-image: url(../img/fondonegro.png);
}

.row.bg-white {
    background-image: url(../img/fondoblanco.png);
}

.bg-white p {
    color: #333;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footer {
	padding-top: 20px;
}

.footer-logo {
    max-width: 100px;
}
.footer-social img {
   max-width: 50px;
   margin-left: 1rem;
}
/****************************************/

.entrevistat {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 2rem;
    border-color: #000;
    border-width: 3px;
    border-style: solid;
}

.entrevistat.bd-black {
    border-color: #000;
    margin-top: 2rem;
}

.ent-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.bg-black .ent-name {
    color: #fff;
}

.alumnes {
    border-top: 1px solid black;
    padding-top: 2rem;
}
.bg-black .alumnes {
    border-top: 1px solid white;
}
.bg-black h5 {
    color: #fff;
}
.bg-black .alumnes h6 {
    color: #fff;
}
.alumnes img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.grup {
    position: absolute;
    bottom: 5rem;
    left: -2rem;
    width: 10rem;
}

.red {
    color: red;
}

.cite {
  border-left: 5px solid #ffdb3a;
  padding: 10px 0 10px 30px;
  margin: 0 0 1rem -10px;
}

.cite p {
    font-style: italic;
}

td:hover {
    cursor: pointer;
}
td.selected {
    background-color: yellow;
}

.iconos {
    width: 40px;
}
